.main{
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: darkslategrey;
}
.sec{
    width: 100%;
    text-align: center;
}
h4{
    background-color: forestgreen;
    color: aliceblue;
}